/* AnagramaGameScreen.css */
.anagrama-game-container {
  background-color: #F2E8DF;
  padding: 20px;
  border-radius: 12px;
  max-width: 800px;
  margin: 0 auto;
}

.texto {
  display: flex;
  justify-content: baseline;
  
  align-items: center;
  margin-bottom: 8px;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
  color: #916a3b;
}

.hidden-words-title {
  font-size: 20px;
  margin-bottom: 8px;
  text-align: center;
  color: #916a3b;
  font-family: 'Fredoka One', cursive;
}

.hidden-words-container {
  display: grid;
  gap: 20px;
  background-color: #f9e0c0;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}


.current-word {
  padding: 10px;
  background-color: #f2b263;
  border-radius: 10px;
  min-height: 50px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
  font-family: 'Fredoka One', cursive;
}

.letras-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.palavra-escondida-container {
  display: flex;
  flex-direction: column; /* Organiza letras e dica verticalmente */
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espaçamento entre letras e a dica */
}

.palavra-letras {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.letra-caixa {
  padding: 12px;
  background-color: #f7d0a1;
  border-radius: 8px;
  text-align: center;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
}

.letra-texto {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
}

.dica-botao {
  background-color: #f4c182;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
}

.dica-botao.dica-desabilitada {
  background-color: gray;
}

.dica-botao:hover {
  background-color: #f2b263; /* Um tom mais escuro para o hover */
}

.dica-texto-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: gray;
  font-style: italic;
  font-size: 14px;
}

.dica-texto {
  color: gray;
  font-style: italic;
  font-family: 'Fredoka One', cursive;
}

.letra-item {
  position: relative;
  background-color: #f4c182;
  border: 2px solid #333333;
  font-family: 'Fredoka One', cursive;
  border-radius: 8px;
  padding: 8px; 
  font-size: 14px; 
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  width: 40px; 
  height: 40px;
  text-align: center;
  line-height: 24px;
  box-shadow: 0px 4px 0px #b88e5b;
}

.letra-item:active {
  transform: translateY(3px);
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 400px; 
  margin: 0 auto; 
}

.enviar-button {
  background-color: #f2b263;
  font-family: 'Fredoka One', cursive;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  flex-grow: 1; /* Para garantir que preencha todo o espaço disponível */
  max-width: 500px; /* Limita a largura máxima */
  margin-right: 8px;
}

.enviar-button:hover {
  background-color: #f7d0a1;
}

.apagar-button {
  background-color: #916a3b;
  border: none;
  padding: 12px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px; /* Tamanho proporcional para o ícone */
  height: 60px; /* Altura proporcional */
}

.apagar-button:hover {
  background-color: #7c5945;
}

.apagar-button-img {
  width: 20px;
  height: 20px;
}

.message-balloon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(238, 208, 170, 0.8);
  color: #333333;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 18px;
  text-align: center;
  max-width: 80%;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@media (max-width: 768px) {
  .hidden-words-container {
    gap: 15px;
  }

  .letra-caixa {
    width: 35px;
    height: 35px;
    padding: 10px;
  }

  .dica-botao {
    width: 32px;
    height: 32px;
    font-size: 18px;
  }

  .dica-texto-container {
    font-size: 12px;
  }
  
}