.buttonRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    width: 100%;
  }
  
  .iconButton {
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4c182; 
    box-shadow: 0px 4px 0px #916a3b;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .iconButton:active {
    transform: translateY(3px);
  }
  
  .iconImage {
    width: 20px;
    height: 20px;
  }
  
  .apagarButton {
    background-color: #f4c182;
    box-shadow: 0px 4px 0px #916a3b;
  }
  
  .enviarButton {
    background-color: #f2b263;
    padding: 12px 24px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-family: 'Fredoka One', cursive;
    flex: 1;
    margin-right: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 0px #c18e4f;
    transition: transform 0.2s ease;
  }
  
  .enviarButton:active {
    transform: translateY(3px);
  }
  
  .enviarButton:hover {
    transform: scale(1.02);
  }
  
  .letrasContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 18px 0;
    flex-wrap: wrap;
  }
  
  .letraButton {
    margin: 10px;
    padding: 15px;
    background-color: #f2b263;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .letraButton:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .letraButton:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .palavra-escondida-container {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fredoka One', cursive; 
}

.palavra-letras {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive; 
}

.letra-caixa {
  margin: 5px;
  padding: 12px;
  background-color: #f7d0a1;
  border-radius: 8px;
}

.letra-texto {
  font-size: 16px;
  font-weight: bold;
}

.dica-botao {
  margin-left: 10px;
  background-color: #f4c182;
  border: none;
  border-radius: 25px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dica-botao.dica-desabilitada {
  background-color: gray;
}

.dica-texto-container {
  margin-top: 4px;
  height: 12px;
  display: flex;
  justify-content: center;
}

.dica-texto {
  color: gray;
  font-style: italic;
  font-family: 'Fredoka One', cursive; 
}
