.imagemIconeContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 8px 0;
  }
  
  .imagemIcone {
    width: 50px;
    height: 50px;
    margin: 0 4px;
    border-radius: 6px;
    transition: transform 0.3s ease;
  }
  
  .imagemIcone:hover {
    transform: scale(1.1);
  }
  
  .imagemIcone:active {
    transform: translateY(3px);
  }
  