@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.anagrama-title {
  font-size: 50px;
  color: #f2b263;
  margin-bottom: 16px;
  font-family: 'Fredoka One', cursive;
}

.anagrama-picker {
  height: 45px;
  width: 100%;
  max-width: 350px;
  background-color: #f7d0a1;
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  font-family: 'Fredoka One', cursive;
  margin-bottom: 20px;
}

.anagrama-start-button {
    background-color: #f2b263;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    max-width: 350px;
    width: 100%;
    font-family: 'Fredoka One', cursive;
}

.anagrama-start-button:hover {
  background-color: #c18e4f;
}

.anagrama-start-button:disabled {
  background-color: #f9e0c0;
  color: #c18e4f;
  cursor: not-allowed;
}

.info-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.info-bubble {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #f2b263;
  padding: 10px;
  border-radius: 8px;
  color: white;
  display: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.info-bubble.show {
  display: block;
}

@media (max-width: 768px) {
  .anagrama-main-container {
    padding: 10px;
  }
}
