@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.associacao-title {
  font-size: 50px;
  font-family: 'Fredoka One', cursive;
  margin-bottom: 16px;
  background: #5d7370;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.associacao-picker {
  height: 45px;
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
  background-color: #91c1bb;
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  font-family: 'Fredoka One', cursive;
}

.associacao-start-button {
  background-color: #5d7370;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  max-width: 350px;
  width: 100%;
  font-family: 'Fredoka One', cursive;

}

.associacao-start-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.associacao-start-button:hover:not(:disabled) {
  background-color: #7c9a96;
}

@media (max-width: 768px) {
  .associacao-main-container {
    padding: 20px;
  }

  .associacao-title {
    font-size: 28px;
  }

  .associacao-description {
    font-size: 16px;
  }

  .associacao-picker {
    max-width: 100%;
  }

  .associacao-start-button {
    font-size: 16px;
  }
}
