@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.associacao-game-container {
  background-color: #F2E8DF;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.associacao-game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.associacao-column-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.associacao-column {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.associacao-divider {
  width: 2px;
  background-color: #433d59;
}

.associacao-item {
  padding: 15px;
  border-radius: 10px;
  background-color: #7c9a96;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out;
}

.associacao-item:hover:not(.disabled) {
  background-color: #1e2625;
}

/* Efeito de feedback */
.associacao-item.incorrect {
  box-shadow: 0 0 15px red;
  border: 2px solid red;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.associacao-item.correct {
  box-shadow: 0 0 15px green;
  border: 2px solid green;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.associacao-item.disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.associacao-image {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.disabled-image {
  opacity: 0.5;
}

.associacao-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
