@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.forca-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #F2E8DF;
    height: 100vh;
    font-family: 'Fredoka One', cursive;
    overflow-y: auto;
  }
  
.dica {
    font-size: 14px;
    font-family: 'Fredoka One', cursive;
    color: #333333;
    margin-bottom: 10px;
    text-align: center;
}
  

.forca-imagem {
    max-width: 40%;
    height: auto;
    margin-bottom: 10px;
}
  
.palavra {
    font-size: 16px;
    font-family: 'Fredoka One', cursive;
    color: #333333;
    letter-spacing: 4px;
    margin-bottom: 10px;
    text-align: center; 
}
  
.erros {
    font-size: 14px;
    font-family: 'Fredoka One', cursive;
    color: #f28585;
    margin-bottom: 10px;
    text-align: center;
}
  
.teclado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px; 
    max-width: 100%; 
}
  

.tecla {
    position: relative;
    background-color: #f2bcbc;
    border: 2px solid #333333;
    font-family: 'Fredoka One', cursive;
    border-radius: 8px;
    padding: 8px; 
    font-size: 14px; 
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    width: 40px; 
    height: 40px;
    text-align: center;
    line-height: 24px;
    box-shadow: 0px 4px 0px #b85a5a;
}
  
.tecla:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 0px #b85a5a; 
}
  
.tecla:hover:not(:disabled) {
    background-color: #f28585;
}
  
.tecla:disabled {
    background-color: #f2baba;
    cursor: not-allowed;
}
  
.mensagem {
    font-size: 14px;
    color: #333333;
    margin-top: 10px;
    text-align: center;
}
  
@media (max-width: 480px) {
    .tema, .dica, .erros, .mensagem {
      font-size: 12px;
}
  
.tecla {
      width: 36px;
      height: 36px;
}
  
.palavra {
      font-size: 14px;
      letter-spacing: 3px;
}
  
.forca-imagem {
      max-width: 35%;
    }
}
  